* {
    box-sizing: border-box;
}

body{
    margin: 40px;
}

.header {
    margin-bottom: 30px;
    position: relative;
}

.header h1 {
   text-align: center;
}

.header .buttons {
    position: absolute;
    top: 50%;
    right: 10%;
}

.delete, .save {
    padding: 1em;
    color: white;
    background-color: black;
    border: none;
}

.delete:hover, .save:hover {
    background: #2f445e;
}

.save {
    margin-top: 15px;
    padding: 1em;
}

hr {
    border: 0;
    height: 1.5px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

.products {
    display: flex;
    flex-wrap: wrap;
    margin: 50px;
}

.product {
    box-sizing: border-box;
    border: 2px solid black;
    padding: 20px;
    margin: 30px;
    flex: 0 0 270px;
}

.product .sku, .name, .price, .special_attribute {
   text-align: center;
}

a {
    background-color: black;
    color: white;
    padding: 14px;
    text-decoration: none;
    font-weight: normal;
    font-size: medium;
    text-transform: uppercase;
  }

.add-form {
    margin: 50px;
}

.input-type-cd, .input-type-furniture, .input-type-book {
    border: 1px solid black;
    margin-top: 20px;
    width: 250px;
    padding: 20px;
}

form {
    font-size: large;
    font-weight: bold;
    
}

